
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Lobster&family=Poppins:wght@400;500&family=Tsukimi+Rounded:wght@400;500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Tsukimi Rounded', sans-serif;
}
body{
    background-color: #d3d8df;
    height: 100%;
    max-width: 100%;
}
header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    background-color: #ffffff;
    max-width: 100vw;
    height: 11vh;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}
#out{
    height: 2.5rem;
    width: 2.6rem;
    border-radius: 5rem;
    cursor: pointer;
    border: none;
    outline:#cbe2ff;
margin-left: 66%;
}
#out:hover{
    transform: scale(1.1);
}
h2.heading{
    margin-top: 0.3rem;
    font-size: 32px;
    font-weight:550;
    margin-left: 1rem;
    color: rgb(0, 0, 255);
}

.alert {
    position: fixed;
    top: 0;
    left: 28rem;
    width: 40%;
    padding: 10px;
    background-color: #4beb2b;
    color: #000000;
    font-weight: bold;
    text-align: center;
    transition: opacity 0.5s;
    border-radius: 5px;
    height: 8%;

  }
  
  .alert.hide {
    opacity: 0;
  }

  div.poll{height: 100px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-left: auto;
    border: solid black 1px ;
  }
.pbutton{
    cursor: pointer;
   color: #f1f1f1;
   background-color: #4011eb;
   border-radius: 5px;
   width: 8rem;
   height: 3.8rem;
   border: none;
   outline: none;
   font-size: 14px;
   letter-spacing: 2px;
}


@media all and (max-width:1260px)  and (min-width: 1030px){
    h2.heading{
        margin-top: 0.3rem;
        font-size: 26px;
    }
    .logo{
        margin-left: 4px;
        width: 39px;
        height: 39px;
    } 
    #out{
    margin-left: 63%;
    }
}

@media all and (max-width:1030px)  and (min-width: 847px){
    h2.heading{
        margin-top: 0.3rem;
        font-size: 22px;
    }
    .logo{
        margin-left: 6px;
        width: 36px;
        height: 36px;
    } 
    #out{
    margin-left: 63%;
    }
}

@media all and (max-width:847px)  and (min-width: 780px){
    h2.heading{
        margin-top: 0.3rem;
        font-size: 19px;
    }
    .logo{
        margin-left: 2px;
        width: 34px;
        height: 34px;
    } 
    #out{
    margin-left: 60%;
    }
}
@media all and (max-width:780px)  and (min-width: 590px){
    h2.heading{
        margin-top: 0.3rem;
        font-size: 16px;
    }
    .logo{
        margin-left: -3px;
        width: 31px;
        height: 31px;
    } 
    #out{
    margin-left: 58%;
    }
}
@media all and (max-width:590px)  and (min-width: 510px){
    h2.heading{
        margin-top: 0.3rem;
        font-size: 14px;
    }
    .logo{
        margin-left: -3px;
        width: 28px;
        height: 28px;
    } 
    #out{
    margin-left: 55%;
    }
}
@media all and (max-width:510px)  and (min-width: 446px){
    h2.heading{
        margin-top: 0.3rem;
        font-size: 14px;
    }
    .logo{
        margin-left: 22px;
        width: 26px;
        height: 26px;
    } 
    #out{
    margin-left: 47%;
    }
}
@media all and (max-width:446px)  and (min-width: 360px){
    h2.heading{
        margin-top: 0.3rem;
        font-size: 10px;
    }
    .logo{
        
        width: 26px;
        height: 26px;
    } 
    #out{
    margin-left: 50%;
    }
}
@media all and (max-width:360px)  and (min-width: 320px){
    h2.heading{
        margin-top: 0.3rem;
        font-size: 8px;
    }
    .logo{
        width: 24px;
        height: 24px;
    } 
    #out{
    margin-left: 45%;
    }
}
/* .poll-option {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .poll-option input[type="checkbox"] {
        margin-right: 10px;
    }

    .poll-bar-container {
        display: flex;
        align-items: center;
        width: 100%;
        background-color: #f2f2f2;
        height: 20px;
        border-radius: 10px;
        overflow: hidden;
    }

    .poll-bar {
        background-color: #4caf50;
        height: 100%;
        transition: width 0.5s ease-in-out;
    }

    .percentage-label {
        margin-left: 10px;
        font-weight: bold;
    } */

